/* .navbar-main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links-section {
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px; 
}

.nav-link {
  text-decoration: none;
  color: #fff; 
  padding: 10px 15px;
}

.nav-link:hover {
  color: #1890ff; 
} */

/* .ant-menu-item-selected {
  background-color: #b1eeee !important;
  border-color: #b1eeee !important;
}
.ant-menu-item:hover {
  background-color: #b1eeee !important;
  border-color: #b1eeee !important;
} */

.nav-item {
  margin-right: 200px;
}
.ant-menu-item {
  width: 20%;
}
