/* Modal overlay */
/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
} */

/* Modal content */

/* Close button */
/* .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
} */

/* Form styles */
.add-store-form {
  display: flex;
  flex-direction: column;
  color: gray;
}

.add-store-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.add-store-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.add-store-form input {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-button {
  background-color: #94a017;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}
