.store-card-container {
  position: relative;
}

.store-card {
  display: block;
  text-decoration: none;
  color: inherit;
}

.store-card-content {
  position: relative;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #323131;
  color: white;
}

.close-icon-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  z-index: 10;
}

.close-icon {
  font-size: 24px;
  color: white;
}

.close-icon:hover {
  color: red;
}

.ant-card-bordered {
  border: 2px solid #477187;
}
.ant-card-body > .ant-row {
  margin: 0px !important;
}

.store-card .ant-card-body {
  padding: 5px;
  background-color: white;
  height: 110px;
  color: #477187;
  padding-top: 5px;
  padding-right: 15px;
  border-radius: 6px;
}
.store-card .ant-card-body:hover {
  background-color: white;
  color: #3439dc;
}
.card-title {
  font-size: 20px;
}
