.edit-category-form {
  max-width: 600px;
  margin: 0 auto;
}

.category-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.category-name {
  flex: 1;
}

.order-input {
  width: 100px;
  margin-left: 20px;
}
